<html lang="ko">

<head>
    <title>DCK Register</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <meta name="theme-color" content="#E8EDDF" />
    <meta name="description" content="DCK Register" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- <link rel="icon" href="%PUBLIC_URL%/favicon.ico" /> -->

    <link href="styles/layout.css" rel="stylesheet" type="text/css">
    <link href="styles/register_form.css" rel="stylesheet" type="text/css">
    <link href="styles/summoner_info.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="javascripts/register.js" defer></script>
</head>

<body>
    <main>
        <%- body %>
    </main>
</body>

</html>