<div id="position-select-list">
    <input type="radio" id="any" name="radio-position" value="0" checked />
    <label for="any"><img src="images/positions/position_icon_0.png"></label>
    <input type="radio" id="top" name="radio-position" value="1" />
    <label for="top"><img src="images/positions/position_icon_1.png"></label>
    <input type="radio" id="jug" name="radio-position" value="2" />
    <label for="jug"><img src="images/positions/position_icon_2.png"></label>
    <input type="radio" id="mid" name="radio-position" value="3" />
    <label for="mid"><img src="images/positions/position_icon_3.png"></label>
    <input type="radio" id="adc" name="radio-position" value="4" />
    <label for="adc"><img src="images/positions/position_icon_4.png"></label>
    <input type="radio" id="sup" name="radio-position" value="5" />
    <label for="sup"><img src="images/positions/position_icon_5.png"></label>
</div>