<section class="flex-col flex-ac summoner-info-container">
    <% summoners.forEach((s) => { %>
    <% const leagueDto = s.leagueDto.find(l => { return l.queueType === "RANKED_SOLO_5x5" }); %>
    <% const tierName = leagueDto === null ? "undefined" : leagueDto.tier.toLowerCase() %>
    <% const winRate = (leagueDto.wins/(leagueDto.wins + leagueDto.losses) * 100).toFixed(1) %>
    <div class="flex-row flex-ac w-100 summoner-info">
        <img class="tier-icon" src=<%= `images/ranked-emblems/Emblem_${tierName}.png` %>
            alt=<%= `Emblem_${tierName}` %>>
        <div>
            <div class="t-bold summoner-name"><%= s.name %></div>
            <div class="t-bold"><%= leagueDto === null ? "unranked" : `${leagueDto.tier} ${leagueDto.rank}` %></div>
            <div>
                <% if (leagueDto === null) { %>
                -
                <% } else { %>
                <%= leagueDto.wins %> 승
                <%= leagueDto.losses %> 패
                (<%= winRate %>%)
                <% } %>
            </div>
        </div>
    </div>
    <% }) %>
</section>