.anm-fi-l {
    animation: fadeInLeft ease .8s;
    -webkit-animation: fadeInLeft ease .8s;
    -moz-animation: fadeInLeft ease .8s;
    -o-animation: fadeInLeft ease .8s;
}

@keyframes fadeInLeft {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@-webkit-keyframes fadeInLeft {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@-o-keyframes fadeInLeft {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.anm-fo-l {
    animation: fadeOutLeft ease .2s;
    -webkit-animation: fadeOutLeft ease .2s;
    -moz-animation: fadeOutLeft ease .2s;
    -o-animation: fadeOutLeft ease .2s;
}

@keyframes fadeOutLeft {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        transform: translateX(-30px);
        opacity: 0;
    }
}

@-webkit-keyframes fadeOutLeft {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        transform: translateX(-30px);
        opacity: 0;
    }
}

@-moz-keyframes fadeOutLeft {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(-30px);
        opacity: 0;
    }
}

@-o-keyframes fadeOutLeft {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(-30px);
        opacity: 0;
    }
}

.anm-fi-r {
    animation: fadeInRight ease .8s;
    -webkit-animation: fadeInRight ease .8s;
    -moz-animation: fadeInRight ease .8s;
    -o-animation: fadeInRight ease .8s;
}

@keyframes fadeInRight {
    0% {
        transform: translateX(-30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@-webkit-keyframes fadeInRight {
    0% {
        transform: translateX(-30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@-moz-keyframes fadeInRight {
    0% {
        transform: translateX(-30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@-o-keyframes fadeInRight {
    0% {
        transform: translateX(-30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.anm-fo-r {
    animation: fadeOutRight ease .2s;
    -webkit-animation: fadeOutRight ease .2s;
    -moz-animation: fadeOutRight ease .2s;
    -o-animation: fadeOutRight ease .2s;
}

@keyframes fadeOutRight {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        transform: translateX(30px);
        opacity: 0;
    }
}

@-webkit-keyframes fadeOutRight {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        transform: translateX(30px);
        opacity: 0;
    }
}

@-moz-keyframes fadeOutRight {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        transform: translateX(30px);
        opacity: 0;
    }
}

@-o-keyframes fadeOutRight {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        transform: translateX(30px);
        opacity: 0;
    }
}

.anm-show-up {
    animation: showUp ease .8s;
    -webkit-animation: showUp ease .8s;
    -moz-animation: showUp ease .8s;
    -o-animation: showUp ease .8s;
}

@keyframes showUp {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@-webkit-keyframes showUp {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@-moz-keyframes showUp {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@-o-keyframes showUp {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}