.register-section {
    height: 400px;
    box-sizing: border-box;
}

#register-preview {
    margin-bottom: 30px;
}

#search-form input[type="text"] {
    border: none;
    border-bottom: 1px solid black;
    font-size: 1.3rem;
    width: 400px;
    padding: 5px;
    margin: 0 7px;
    outline: none;
}

#search-form input[type="button"] {
    border: none;
    border-radius: 3px;
    width: 80px;
    height: 40px;
    background-color: #00704A;
    color: #ffffff;
    font-size: 1rem;
}

#search-form input[type="button"]:disabled {
    background-color: #777777;
}

#search-form .error-label {
    display: block;
    width: 400px;
    padding: 5px 10px;
    color: #c42727;
    font-size: .85rem;
}