.summoner-info-container {
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0 30px;
    box-sizing: border-box;
    box-shadow: 0 3px 8px 2px rgba(0, 0, 0, .2);
    border-radius: 10px;
    background-color: #fcfcfc;
}

.summoner-info-elem {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 25px 8px;
    box-sizing: inherit;
    flex-wrap: wrap;
}

.summoner-info-elem:last-child {
    border: none;
}

.tier-icon {
    width: 100px;
    height: 100px;
}

.summoner-name {
    font-size: 1.3rem;
    padding: 5px 0;
    box-sizing: inherit;
}